<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Orders
      </ion-title>
      <ion-buttons slot="end">
        <ion-icon class="icons" name="home" [routerLink]="['/home']"></ion-icon>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- Segment with secondary color -->
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
        <ion-segment-button value="Orders" checked>
            <ion-label>Orders</ion-label>
        </ion-segment-button>
        <ion-segment-button value="historyorders">
            <ion-label>Calender</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-card *ngFor="let O of Orders">
      <ion-card-header>
        <ion-card-subtitle>{{ O.date }}</ion-card-subtitle>
      <!-- <ion-card-title>
        <h4 style="font-size: x-small;">Order Status:</h4><h2>{{ O.OrderStatus }}</h2><br>
      </ion-card-title> -->
      </ion-card-header>
  
      <ion-card-content *ngFor="let Z of O.food">
        <p>Name: {{ Z.name }}</p>
        <p>Price: {{ Z.price }}</p>
        <!-- <p>Desc: {{ Z.desc }}</p> -->
        <i style="font-size: x-small;">{{ Z.desc }}</i>
      </ion-card-content>
    </ion-card>

</ion-content>